.bg-home {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/hd1313169/ryanchiang/main/app/assets/images/bg_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-about {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/hd1313169/ryanchiang/main/app/assets/images/bg-about.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title{
  &-des{
    color: #4C4C4C !important;

  }
}
.cta {
  display: block;
  width: 200px;

  &-bg{
    background-color: rgba(255, 255, 255, .6);
  }
  &-icon {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    // border: 1px solid #181818;
    border-radius: 120px;
    color: #1d1d1d;

    transition: all .5s ease-in-out;
    z-index: 997;
  }

  &-content {
    font-weight: normal !important;
    margin-left: 8px;
    transition: all .5s ease-in-out;
  }

  &:hover {
    .cta-icon {
      background-color: #181818 !important;
      color: #ffffff !important;
      transform: translateX(calc(200px - 36px - 8px));
    }

    .cta-content {
      color: #181818 !important;
      transform: translateX(-16px);
    }
  }
}

.contact {

  &-item {
    display: flex;
    align-items: center;
  }

  &-icon {
    width: 32px;
    height: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    border: 1px solid #181818;
    border-radius: 100px;

    &:hover {
      background-color: $primary !important;
    }
  }
}


.avatar {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 232px;
  height: 310px;

  background-image: url(https://raw.githubusercontent.com/hd1313169/ryanchiang/main/app/assets/images/E5D246C8-245E-43D3-8059-635D7EB53C0D.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: 576px) {
    width: 348px;
    height: 465px;
  }

  @media (min-width: 768px) {
    width: 464px;
    height: 620px;
  }
}

.motto {
  display: block;
  position: absolute;
  right: 160px;
  bottom: 160px;

  &::after {
    position: absolute;
    bottom: -20px;
    right: 40px;
    content: "";
    width: 16px;
    height: 16px;
    // background-color: #ffffff;
    border: 1px solid;
    border-color: transparent transparent #ffffff transparent;
    border-radius: 0 0 0 24px;
  }

  @media (min-width: 576px) {
    right: 320px;
    bottom: 120px;
  }

  @media (min-width: 768px) {
    right: 300px;
    bottom: 440px;
  }
}
