.list-group {
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-direction: column;
  }
}

.list-group-item {
  background-color: transparent !important;

  &:hover {
    a {
      color: $primary !important;
    }
  }
}

.list-group-item.active {
  z-index: 2;
  color: $primary !important;
}

.list-group-item.disabled {
  opacity: .6;
}

.work {

  &-sidebar{
    @media (min-width: 992px) {
      position: fixed;
    }
  }
  
  &-cover {
    width: 450px;
    height: 254px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-item {
    flex-wrap: wrap;
    &:hover {
      .work-cover {
        background-size: 110%;
      }
    }
  }

  &-display {
    width: 100%;
    // min-height: 4800px;
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;

    // &:hover{
    //   a{
    //     text-decoration: underline;
    //   }
    // }
  }
}