.list-group {
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 992px) {
    flex-direction: column;
  }
}

.list-group-item {
  background-color: transparent !important;

  &:hover {
    a {
      color: $primary !important;
    }
  }
}

.list-group-item.active {
  z-index: 2;
  color: $primary !important;
}

.list-group-item.disabled {
  opacity: .6;
}

.work {

  &-item {
    &:hover {
      .work-cover {
        width: calc(450px * 1.1);
        height: calc(254px * 1.1);
      }
    }
  }

  &-cover {
    width: 450px;
    height: 254px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &-display {
    width: 100%;
    // min-height: 4800px;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
}