.totop{
    width: 40px;
    height: 40px;
    right: 24px;
    bottom: 60px;

    border: 1px solid #000;
    border-radius: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background: $primary;
    }
}

.footer {
    width: 100%;
   display: flex;
   justify-content: flex-end; 
   z-index: 800;

   &-link{
    text-align: center;
    color: #181818 !important;

    &:hover{
        color: #FEDB9A !important;
    }
   }
}