.footer{
    background-image: url(https://raw.githubusercontent.com/hd1313169/ryanchiang/main/app/assets/images/footer.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    padding-top: 16px;

    &:hover{
        opacity: 80%;
    }

}