<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./assets/images/aoba_title_icon.ico" rel="shortcut icon">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <script src="https://kit.fontawesome.com/6b74f216f9.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  </style>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

</head>

<body>

  <div id="navbar" class="list-group navbar-desktop shadow-sm">
    <a class="list-group-item list-group-item-action navbar-desktop-item mb-lg-32" href="#intro">
      <i class="fa-solid fa-person-running fs-32 me-4 me-lg-0 mb-lg-8"></i>
      <h2 class="fs-16 fw-normal">關於我</h2>
    </a>
    <a class="list-group-item list-group-item-action navbar-desktop-item mb-lg-32" href="#skill">
      <i class="fa-solid fa-fire fs-32 me-4 me-lg-0 mb-lg-8"></i></i>
      <h2 class="fs-16 fw-normal">技能</h2>
    </a>
    <a class="list-group-item list-group-item-action navbar-desktop-item" href="#collection">
      <i class="fa-solid fa-shoe-prints fs-32 me-4 me-lg-0 mb-lg-8"></i>
      <h2 class="fs-16 fw-normal">作品集</h2>
    </a>
  </div>

<!-- 
  <nav id="navbar-mobile" class="navbar bg-light px-3 navbar-mobile">
    <ul class="nav nav-pills">
      <li class="navbar-mobile-item mb-32">
        <a class="nav-link" href="#intro">
          <i class="fa-solid fa-person-running fs-24 me-4"></i>
          <h2 class="fs-16 fw-normal">關於我</h2>
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-mobile-item mb-32" href="#skill">
          <i class="fa-solid fa-fire fs-24 me-4"></i></i>
          <h2 class="fs-16 fw-normal">技能</h2>
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-mobile-item" href="#collection">
          <i class="fa-solid fa-shoe-prints fs-24 me-4"></i>
          <h2 class="fs-16 fw-normal">作品集</h2>
        </a>
      </li>
    </ul>
  </nav> -->
  <!-- <div id="navbar-mobile" class="list-group navbar-mobile">
    <a class="list-group-item list-group-item-action navbar-mobile-item mb-32" href="#intro">
      <i class="fa-solid fa-person-running fs-24 me-4"></i>
      <h2 class="fs-16 fw-normal">關於我</h2>
    </a>
    <a class="list-group-item list-group-item-action navbar-mobile-item mb-32" href="#skill">
      <i class="fa-solid fa-fire fs-24 me-4"></i></i>
      <h2 class="fs-16 fw-normal">技能</h2>
    </a>
    <a class="list-group-item list-group-item-action navbar-mobile-item" href="#collection">
      <i class="fa-solid fa-shoe-prints fs-24 me-4"></i>
      <h2 class="fs-16 fw-normal">作品集</h2>
    </a>
  </div> -->

  <!-- <ul class="nav navbar-mobile" id="navbar">
    <li class="nav-item text-center rounded-16">
      <input type="radio" class="btn-check" name="optionsM" id="optionM1" autocomplete="off" active>
      <label class="navbar-mobile-item btn btn-outline-primary" for="optionM1">
        <i class="fa-solid fa-person-running fs-24 me-4"></i>
        <h2 class="fs-16 fw-normal">關於我</h2>
      </label>
    </li>

    <li class="nav-item text-center rounded-24">
      <input type="radio" class="btn-check" name="optionsM" id="optionM2" autocomplete="off">
      <label class="navbar-mobile-item btn btn-outline-primary" for="optionM2">
        <i class="fa-solid fa-fire fs-24 me-4"></i></i>
        <h2 class="fs-16 fw-normal">技能</h2>
      </label>
    </li>

    <li class="nav-item text-center rounded-24">
      <input type="radio" class="btn-check" name="optionsM" id="optionM3" autocomplete="off">
      <label class="navbar-mobile-item btn btn-outline-primary" for="optionM3">
        <i class="fa-solid fa-shoe-prints fs-24 me-4"></i>
        <h2 class="fs-16 fw-normal">作品集</h2>
      </label>
    </li>
  </ul> -->


  <%- contents %>

    <footer class="footer">
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>
</body>

</html>