<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan Chiang | UXUI Designer</title>
    <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Noto+Sans+TC:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-light py-40 pt-sm-80 pb-sm-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8">
            <div class="w-100 d-flex flex-column align-items-center">
              <img
                class="intro mb-24"
                src="../assets/images/img-bubble-intro.svg"
                alt="哈哈"
              />
              <img
                class="selfie-half mb-40"
                src="../assets/images/img-selfie-half.svg"
                alt="是我啦"
              />
              <p class="text-center">
                北漂中的台中人，現職 UI/UX 設計師 <br />2
                年設計經驗，2 年數位行銷經驗，會前端，懂專案管理。
                <br />善於觀察與邏輯思考，喜歡解決問題的成就感。
              </p>
            </div>

            <a class="btn-main fs-14 fw-semibold mt-24" href="about.html"
              >了解更多<span class="material-symbols-outlined fs-14 ms-4">
                call_made
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
